.about{

  padding: 60px 0 30px;
}

.aobut__title {

  margin-bottom: 15px;
  text-align: center;
}

.about__description {
  
  margin-bottom: 25px;
  text-align: center;
}

.about__col{
 
  margin-bottom: 30px;
}