
.header{
  
  padding: 21px 0;
  border-bottom: 1px solid $lightGrey_1;
  
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header__logo-link{
  width: 168px;
  
  &, &>img{
    display: block;
  }
}