.header{
  
  padding: 20px 0;
  border-bottom: 1px solid $lightGrey_1;
  
  @include media-breakpoint-down(md){
    
    padding: 15px 0;
  }

  @include media-breakpoint-down(sm){
    
    padding: 10px 0;
  }
}
