.footer{
  
  padding: 25px 0;
  background-color: $green;
}

.footer__logoLink{
  
  
  font-size: 0;

  @include media-breakpoint-down(md){
    
    margin-bottom: 25px;
  }
}

.footer__logoSvg{

  @include media-breakpoint-down(lg){
    max-width: 150px;
  }
}

.footer__copy{

  margin-top: 10px;
  margin-right: auto;
  font-size: 12px;
  color: $white;
  line-height: 1.5;
}

.footer__navRow{

  font-size: 14px;

  li{
    
    &:not(:last-child){
      
      margin-right: 30px;

      @include media-breakpoint-down(sm){
        margin-right: 0;
      }
    }

    @include media-breakpoint-down(sm){
      margin-bottom: 15px;
    }
  }

  a{

    color: $white;
    transition: color .3s;

    &:hover{
      color: darken($white, $amount: 10);
    }
  }
}