.header{
  
  padding: 20px 0;
  z-index: 9999;
  background-color: transparentize($white, $amount: .02);
  top: 0;
  
  @include media-breakpoint-down(md){
    
    padding: 15px 0;
  }

  @include media-breakpoint-down(sm){
    
    padding: 10px 0;
  }
}

.header__logo-link{
  font-size: 0;
}
