.warranty{

  margin-bottom: 60px;

  @include media-breakpoint-down(md){
    margin-bottom: 35px;
  }
}

.warranty__main{
  
  margin-bottom: 60px;
  background-color: $light-grey;

  @include media-breakpoint-down(md){
    padding: 35px 0;
    margin-bottom: 35px;
    
  }
}

.warranty__row{

  align-items: center;
}

.warranty__imgCol{

  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;

  @include media-breakpoint-down(sm){
    margin-bottom: 20px;
  }
  
  img{

    display: block;
    width: 236px;
    transform-origin: center center;
    transform: scale(1.1);

    @include media-breakpoint-down(lg){
      width: 216px;
    }

    @include media-breakpoint-down(md){
      width: 166px;
    }

    @include media-breakpoint-down(sm){
      width: 155px;
      transform: none;
    }
  }
}

.warranty__textCol{
  
  flex-grow: 1;
  
  h2{
    
    margin-bottom: 15px;  
  }

  p{

    padding-right: 15px;
  }
}