.aboutCard{

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
  background-color: $green;
  border-radius: 8px;
}

.aboutCard__imgWrap{
  
  @extend .rounded;
  @extend .overflow-hidden;
  @extend .position-relative;

  height: 0;
  padding-bottom: 49.41%;

  img{
    
    @extend .position-absolute;
    @extend .w-100;
    @extend .rounded;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;
  }
}

.aboutCard__text{

  margin: auto;
  padding: 15px;
  text-align: center;
  color: $white;
}