.logoSvg{
  
  width: 168px;
  font-size: 0;

  @include media-breakpoint-down(sm){
    
    width: 150px;
  }
}

.logoSvg__text{

  fill: $white;
}

.logoSvg__bg{

  fill: $green;
}

.logoSvg__squire{

  fill: $white;
}

.logoSvg__border{

  fill: $green;

  &_white{
    fill: $white;
  }
}

.logoSvg__rect{
    stroke: $white;
}