//Colors
$grey: #E0E0E0;
$light-grey: #F6F6F6;
$light-grey-2: #F3F9F6;
$green: #0C8543;
$success: green;
$white: #FFFFFF;

//Radius
$border-radius: 8px;

//Weights
$font-weight-bold: 600 !default;
$font-weight-bolder: 700 !default;
